.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop--is-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  pointer-events: none;
  transition: visibility var(--defaul-duration) var(--timing-function);

  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}
