.employers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.employers-item {
  background-color: #ffffff;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employers-item__card {
  margin: 0;
  padding: 30px 5px;
  text-align: center;
}
.employers-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.employers-item__detailes {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.socials-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 125ms var(--timing-function);
}
.socials-item__link:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}
.socials-item__link:hover .socials-item__icon {
  fill: var(--primary-white-color);
  animation: rotation 2s forwards infinite ease-out 0.5s;
}
.socials-item__icon {
  fill: #afb1b8;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
